.container {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addButton {
  padding: 10px;
  background-color: #5d57c9;
  color: var(--text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.table {
  width: 100%;
}

.table td {
  padding: 10px;
}

.product {
  display: flex;
  align-items: center;
  gap: 10px;
}

.productImage {
  border-radius: 50%;
  object-fit: cover;
}

.buttons {
  display: flex;
  gap: 10px;
}

.button {
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--text);
  border: none;
  cursor: pointer;
}

.heading {
  color: lime;
}

.view {
  background-color: #4b49ac;
}

.delete {
  background-color: crimson;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pageButton {
  border: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageButton:hover {
  background-color: #f0f0f0;
  color: black;
}

.pageButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.active {
  background-color: #0070f3;
  color: white;
  border: 1px solid #0070f3;
}
