.container {
  display: flex;
  gap: 24px;
  margin-top: 20px;
  flex-direction: column;
}

.contentWrapper {
  display: flex;
  gap: 32px;
}

.infoContainer {
  flex: 1;
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
  color: var(--textSoft);
  height: max-content;
}

.imgContainer {
  width: 100%;
  height: 300px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.formContainer {
  flex: 3;
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input,
.form textarea,
.form select {
  padding: 20px;
  border: 2px solid #2e374a;
  border-radius: 5px;
  background-color: var(--bg);
  color: var(--text);
  margin: 10px 0px;
}

.form label {
  font-size: 12px;
}

.form button {
  width: 100%;
  padding: 20px;
  background-color: #ffbd03;
  color: var(--text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.backButton {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  color: #333333;
  border: 2px solid #333333;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.backButton:hover {
  background-color: var(--bgSoft);
  color: #ffffff;
  border-color: #ffffff;
}

.backButton svg {
  margin-right: 5px;
}
